[submodule "roles/Stouts.python"]
	path = roles/Stouts.python
	url = https://github.com/Stouts/Stouts.python.git
[submodule "roles/ansible-role-ruby"]
	path = roles/ansible-role-ruby
	url = https://github.com/geerlingguy/ansible-role-ruby.git
[submodule "roles/ansible-users"]
	path = roles/ansible-users
	url = https://github.com/mivok/ansible-users.git
[submodule "roles/ansible-dotfiles"]
	path = roles/ansible-dotfiles
	url = https://github.com/benigls/ansible-dotfiles.git
